<!DOCTYPE html>
<html lang="en">
 <head>
  <!-- Google Icon Fonts used by Materialize -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- Materialize CSS Framework -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link rel="stylesheet" href='/stylesheets/main.css'/>
  <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans&display=swap" rel="stylesheet">
  <!-- JavaScript for Materialize -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  </head>
  <body class="text-center">
   <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <main>
      <h1>ILLISTRIOUS</h1>
      <h2>Welcome to illistrious</h2>
    </main role="main" class="inner-cover">
    <ul>
      <li><a class="black-text" href="/auth/google">Sign in with Google</a></li>
    </ul>
   </div>
  </body>
</html>