<!DOCTYPE html>
<html>
  <head>
    <title>illistrious</title>
    <link rel='stylesheet' href='/stylesheets/stylehome.css' />
    <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans&display=swap" rel="stylesheet">
  </head>
  <body>
    <section>
      <h1>ILLISTRIOUS</h1>
      <h2>Welcome to illistrious</h2>
    </section>
    <ul>
      <li><a href="/auth/google">Login with Google</a></li>
    </ul>
  </body>
</html>
