* {
  box-sizing: border-box;
}

body {
  padding: 50px;
  font-family: 'Merriweather Sans', sans-serif;
  padding: 0;
  margin: 0;
  background-color: #c8e6c9;
}

h1 {
  font-size: 80px;
  text-align: center;
}

h2 {
  font-size: 30px;
  text-align: center;
}

section {
  padding: 30px;
  margin: 30px;
}
