<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Google Icon Fonts used by Materialize -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Materialize CSS Framework -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="stylesheets/main.css" />
    <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans&display=swap" rel="stylesheet">
    <!-- JavaScript for Materialize -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <title>illistrious</title>
</head>
<body>
 <div class="navbar-fixed">
    <nav class="#263238 blue-grey darken-4">
        <div class="nav-wrapper">
        <ul class="right">
        <li>
          <a href="/users">HOME</a>
        </li>
        <li><a href="/users/profile">PROFILE</a></li>
        <% if (friends.length > 0) { %>
        <li><a href="/users/friends">FRIENDS<span class="new badge"><%= friends.length %></span></a></li>
        <% } else { %>
        <li><a href="/users/friends">FRIENDS</a></li>
        <% } %>
        <li><a href="/users/community">COMMUNITY</a></li>
        <li>
          <% if (users) { %>
          <a href="/logout"><i class="material-icons left">trending_flat</i>Log Out</a>
          <% } else { %>
          <a href="/auth/google"><i class="material-icons left">vpn_key</i>Login with Google</a>
          <% } %>
        </li>
        </ul>
        </div>
    </nav>
</div>
    <h1>NEWSFEED</h1>
</body>
</html>

